.nav-item {
  padding-left: 7px;
}

.dropdown-menu {
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}

#navbarcontent1 {
  align-items: center;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}


.centrado {
  display: block; /* convierte el botón en un elemento de bloque */
  width: 200px; /* ancho del botón */
  margin: auto; /* centra el botón horizontal y verticalmente */
}

.contenedor {
  display: flex; /* convierte el elemento en un contenedor flex */
  justify-content: center; /* alinea los elementos hijo en el centro del eje horizontal */
  align-items: center; /* alinea los elementos hijo en el centro del eje vertical */
}

#DropDownCart {
  
  top: 100%; /* ajusta la posición del menú en la parte superior de la pantalla */
  left: 0; /* ajusta la posición del menú en la parte izquierda de la pantalla */
}

.logout-txt {
  color: red;
}

.button--navbar {
  height: 2rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(-45deg, #9929ea, #338aff, #9925ea);
  background-size: 400%;
  background-position: 90% 0;
  color: #ffffff;
  transition: background 0.8s;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  margin: 10px;
}

.button--navbar:hover {
  background-position: 185% 50%;
}
